body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 20px;
	background-color: #f4f4f4;
}

h1 {
	color: #333;
}

ul {
	background: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	list-style-type: none;
}

li {
	margin-bottom: 10px;
	font-size: 18px;
}

strong {
	color: #007bff;
}
