body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
}

caption {
    background-color: rgb(170, 170, 200);
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid black;
}

thead th {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
    padding: 10px;
    border: 1px solid black;
}

td {
    padding: 15px;
    border: 1px solid black;
}

.prev-month, .next-month {
    background-color: rgb(170, 170, 200);
    color: rgb(100, 100, 100);
}

.weekend {
    background-color: rgb(255, 220, 220);
}

.holiday {
    background-color: rgb(250, 120, 120);
    color: white;
    font-weight: bold;
}
